#Dotted_Border{
	border: dotted;
	background-color: rgb(255, 200, 200);
}
#Dashed_Border{
	border: dashed;
	background-color: lightgoldenrodyellow;
}
#Solid_Border{
	border: solid;
	background-color: lightyellow;
}
#Double_Border{
	border: double;
	background-color: lightgreen;
}
#Groove_Border{
	border: groove;
	background-color: lightblue;
}
h1 {
	margin: 10px;
	padding: 3%;
}