h1 {
  color: red;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  background-color: #111;
}

body {background-image:url("./background.jpg");
      background-size:700%;
      background-repeat:no-repeat;          
font-family: 'Fasthand', cursive;
font-family: 'Oswald', sans-serif;
}

h1{color:blue;}



}